Source: oxool-module-mergeodf
Section: web
Priority: optional
Maintainer: OSSII R&D Team. <https://www.ossii.com.tw/>
Build-Depends: oxool-dev (>= 4.0.0)
Standards-Version: 3.9.7

Package: oxool-module-mergeodf
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, oxool (>= 4.0.0)
Description: MergeODF
